<%= turbo_stream_from "messages" %>

<div class="flex h-screen">
  <div class="w-1/4 bg-gray-800 text-white p-4">
    <div class="mb-4 flex flex-col">
      <span>
        <%= link_to "New Chat" %>
      </span>
    </div>
    <ul class="flex flex-col ">
      <% @chats.each do |chat| %>
        <li class="mb-4" ><%= link_to chat.name %></li>
      </ul>
    <% end %>
  </div>


  
  <div class="flex-1 p-4 flex flex-col">
    <div class="">
      <h2>Messages:</h2>
      
      <ul id="messages">
        <%= render @messages %>
      </ul>
    </div>
    <div class="fixed bottom-0 right-0 wide-full top-0">
      <%= render 'form', message: @message %>
    </div>
  </div>
</div>

<% console%>
