<%= turbo_stream_from "messages" %>


<div class="flex h-screen">
  <div class="w-1/4 bg-gray-800 text-white p-4">
    <div class="mb-4 flex flex-col">
      <span>
     
        <%= simple_form_for @chat, html: { class: "py-0" } do |f| %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
         
          <%= f.submit "New Chat"%>
        <% end %>
      </span>
    </div>
    <div class="flex flex-col">
      <%= turbo_frame_tag 'chats' do %>
        <% render @chats %>
       
      <% end %>
    </div>
  </div>
  <div class="flex-1 p-4 flex flex-col">
    <div class="">
      <h2>Messages:</h2>
      <%= turbo_stream_from "messages" %>
      <div id="message-list">
        <%= turbo_frame_tag 'messages' do %>
          <%= render @messages %>
        <% end %>
      </div>
    </div>
    <div class="fixed bottom-0 right-0 wide-full top-0">
      <%= render 'form', message: @message %>
    </div>
  </div>
</div>
