

  <%= turbo_frame_tag dom_id(chat) do %>

  <div id="current-chat-id">
    <div class="flex-1 flex-col justify-between items-between">
      <%= turbo_stream_from "#{dom_id(chat)}_messages" %>
      <div id="<%= dom_id(chat) %>_messages" class="chat-messages-scroll break-words" style="overflow-y: auto; max-height: calc(100vh - 16rem);position: fixed; top: 60px; right: 20px; left: 340px;">
        <%= render chat.messages %>
        <%= chat.id %>
        
      </div>
      
      <div id="<%= dom_id(chat) %>_form" class="fixed bottom-0 mb-4" style="position: fixed; bottom: 0; right: 20px; left: 340px;">
        <%= render partial: "messages/form", locals: { chat: chat } %>
      </div>
    </div>
  <% end %>
