

<%= turbo_frame_tag chat do %>
  <div class="chat">

   <%= turbo_frame_tag dom_id(chat, :edit) do %>
   
  <div class="chat__header">
    <h2 class="chat__title">
      <%= chat.id %>
    </h2>

    <div class="chat__actions">
      <%= button_to "Delete",
                    [user, chat],
                    method: :delete,
                    
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  [:edit, user, chat],
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
    <div class="chat__body">
   
   

        <%= turbo_frame_tag nested_dom_id(chat, "messages") do %>
          <%= render chat.messages, user: user, chat: chat %>
        <% end %>

      <%= turbo_frame_tag nested_dom_id(chat, Message.new) %>

      <div class="chat__footer">
        <%= link_to "Add Message",
                    [:new, user, chat, :message],
                    data: { turbo_frame: nested_dom_id(chat, Message.new) },
                    class: "btn btn--primary" %>
      </div>
    </div>
  </div>
<% end %>

