
    <%= turbo_frame_tag "new_message_#{chat.id}" do %>
      <%= form_with(model: Message.new, url: create_message_chats_path, id: "new-message-form-#{chat.id}", local: true) do |form| %>
        <%= form.text_area :content, placeholder: 'Enter message' %>
        <%= form.hidden_field :chat_id, value: chat.id %>
        <%= form.submit 'Send' %>
      <% end %>
    <% end %>
  </div>
<% end %>

